## Prueba tecnica Ingeniero de Datos Pragma
Presentado por: Nicolas Restrepo Carvajal

* Ingeniero de Datos, MsC en IngenierÃ­a , Docente universitario

In [1]:
import sqlite3
import os
import time 
import csv
import os
import time 
import pandas as pd

In [4]:
def replace_missing_values(input_folder, output_folder):
    files = [f for f in os.listdir(input_folder) if f.endswith('.csv')]
    for file in files:
        in_file_path = os.path.join(input_folder, file)
        out_file_path=os.path.join(output_folder, file)
        dataset_name = os.path.splitext(file)[0]
        print(in_file_path)
        print(out_file_path)

        print(dataset_name)
        with open(in_file_path, 'r') as infile, open(out_file_path, 'w', newline='') as outfile:
            reader = csv.reader(infile)
            writer = csv.writer(outfile)
            for row in reader:
                # Replace empty strings with '0'
                row = [value if value.strip() else '0' for value in row]
                writer.writerow(row)

def connect_sqlite(path):
    conn = sqlite3.connect(path)
    cursor = conn.cursor()
    return conn
    
def close_sqlite(conn):
    conn.close()

def execute(statement):
    conn = sqlite3.connect(sqlite_db_path)
    cursor = conn.cursor()
    query = statement
    cursor.execute(statement)
    conn.commit()
    rows = cursor.fetchall()

    for row in rows:
        print(row)
    conn.close()

   

def insert_csv_line_sqlite(directory_path,sqlite_db_path,table_name):
    conn = sqlite3.connect(sqlite_db_path)
    cursor = conn.cursor()
    files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]
    log_row_count=0
    logs_prices=[]
    for file in files:

        file_path = os.path.join(directory_path, file)
        dataset_name = os.path.splitext(file)[0]
        print(file_path)
        print(dataset_name)
        
        with open(file_path, newline='', encoding='utf-8') as csvfile:
            csv_reader = csv.reader(csvfile)
            next(csv_reader)
            for row in csv_reader:
                query = f'INSERT INTO {table_name} (timestamp, price, user_id) VALUES (?, ?, ?)'
                log_row_count+=1
                logs_prices.append(int(row[1]))  
                print(f"Stats:\nInserted rows count :  {log_row_count}\nAverage of Price: {sum(logs_prices) /len(logs_prices)}\nMinimun Price: {min(logs_prices)}\nMax Price : {max(logs_prices)}")
                cursor.execute(query, row)
        conn.commit()
    conn.close()

In [5]:

if __name__ == "__main__":
    raw_data_path = "../Data/raw"
    preprocessed_data_path="../Data/preprocessed"
    replace_missing_values(raw_data_path,preprocessed_data_path)
    sqlite_db_path='../database/pragma.db'
    table_name='prices'
    drop_table=f"""drop table if exists {table_name}"""
    execute(drop_table)
    create_table = f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
        timestamp DATE,
        price double precision,
        user_id INTEGER
    );
    """
    execute(create_table)
    insert_csv_line_sqlite(preprocessed_data_path,sqlite_db_path,table_name)

../Data/raw/2012-5.csv
../Data/preprocessed/2012-5.csv
2012-5
../Data/raw/2012-1.csv
../Data/preprocessed/2012-1.csv
2012-1
../Data/raw/2012-3.csv
../Data/preprocessed/2012-3.csv
2012-3
../Data/raw/2012-4.csv
../Data/preprocessed/2012-4.csv
2012-4
../Data/raw/2012-2.csv
../Data/preprocessed/2012-2.csv
2012-2

OperationalError: database is locked

In [ ]:
select_table=f"""select count(1) from {table_name}"""
execute(select_table)